.texto {
    font-family: var(--fontTitulos);
    font-size: 6rem;
    text-align: left;
    color: var(--colorNegro);
    padding: 2.5rem;
}

/* FORMATO TABLET - cambia dimensiones y agrega fondo para mejor lectura ante la superposición con imágenes*/
@media (max-width: 991.98px) {
    .texto {
        width: 80%;
        font-size: 4rem;
        text-align: center;
        padding: 2.5rem 0;
        border-radius: 12px;
        border: 2px solid var(--colorRojo);
        background-color: var(--colorNaranjaSombra);
        box-shadow: 0px 0px 4px 1px var(--colorRojoSombra);
    }
}