.cabecera {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.5rem;
    background-color: var(--colorNegro);
    border-bottom: 2px solid var(--colorRojo);
    position: relative;
}

.logoContainer {
    max-width: 10.5rem;
}

.cabecera img {
    width: 100%;
}

.cabecera nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.cabecera a {
    text-decoration: none;
}

.cabecera .activeLink {
    color: var(--colorRojo);
    border: 2px solid var(--colorRojo);
    box-shadow: 0px 0px 4px 1px var(--colorRojoSombra);
    font-weight: 700;
}

.cabecera .activeButton {
    display: block;
}

.span {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.iconHome,
.iconStar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2px;
    font-size: 1.15rem;
}

/* oculta el texto de los botones en el formato tablet */
@media (max-width: 991.98px) {
    .txt {
        display: none;
    }
}

/* cambia el nav de la cabecera a un bottom-nav-bar*/
/* alinea el logo al centro de la cabecera */
@media (max-width: 575.98px) {
    .cabecera {
        justify-content: center;
    }

    .cabecera nav {
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: 5000;
        width: 100%;
        height: 4.5rem;
        background-color: var(--colorNegro);
        justify-content: center;
        padding: 1rem;
        border-top: 2px solid var(--colorRojo);
    }

    .iconHome {
        font-size: 2.2rem;
    }

    .iconStar {
        font-size: 2rem;
    }

    .cabecera .activeLink {
        color: var(--colorRojo);
        border: none;
        box-shadow: none;
    }
}