.overlay {
    background-color: var(--colorNegroSombra);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9998;
}

.modal {
    width: 70vw;
    height: 90vh;

    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2.5rem;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;

    background: var(--colorNegro);
    border: 2px solid var(--colorNaranja);
    border-radius: 12px;
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btnClose {
    width: 24px;
    height: 24px;

    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;

    font-size: 1.5rem;
    color: var(--colorBlanco);

    cursor: pointer;

    transition: all 0.4s ease-in-out;
}

.btnClose:hover {
    color: var(--colorNaranja);
}

.modal h2 {
    font-family: var(--fontTitulos);
    font-size: 2rem;
    font-weight: 400;
    color: var(--colorBlanco);
    text-wrap: balance;
}

.scroll {
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-right: 0.5rem;
}

/* REDISEÑO DEL SCROLLBAR compatibilidad chrome/edge/ safari*/
.scroll::-webkit-scrollbar {
    width: 0.9rem;
}

.scroll::-webkit-scrollbar-track {
    background: var(--colorGrisMuyOscuro);
    border-radius: 20px;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: var(--colorGrisOscuro);
    border-radius: 20px;
    border: 4px solid var(--colorGrisMuyOscuro);
}

.texto {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;

    color: var(--colorBlanco);
    font-family: var(--fontTexto);
    font-size: 1rem;
}

.texto p {
    color: var(--colorGris);
    font-weight: 200;
    text-wrap: balance;
}

.formulario {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.5rem;
}

.formulario label {
    color: var(--colorBlanco);
}

.botones {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 0.8rem 0;
}

.botonGuardar {
    width: 100%;
    height: 2.5rem;
    background-color: var(--colorNaranja);
    color: var(--colorNaranja);
    padding: 0.5rem 1rem;
    border-radius: 1.25rem;
    border: 2px solid var(--colorNaranja);
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    flex-wrap: wrap;

    color: var(--colorNegro);
    font-family: var(--fontTexto);
    font-size: 1rem;
    font-weight: 700;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.botonGuardar:hover {
    box-shadow: 0px 0px 4px 1px var(--colorNaranjaSombra);
}

.botonLimpiar,
.botonCerrar {
    width: 100%;
    height: 2.5rem;
    background-color: var(--colorNegro);
    color: var(--colorBlanco);
    padding: 0.5rem 1rem;
    border-radius: 1.25rem;
    border: 2px solid var(--colorNaranja);
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    flex-wrap: wrap;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    color: var(--colorNaranja);
    font-family: var(--fontTexto);
    font-size: 1rem;
    font-weight: 400;
}

.botonLimpiar:hover,
.botonCerrar:hover {
    box-shadow: 0px 0px 4px 1px var(--colorNaranjaSombra);
}

/* FORMATO TABLET - Cambia porcentaje de cobertura y los botones se alinean verticalmente*/
@media (max-width: 991.98px) {
    .modal {
        width: 90vw;
        height: 90vh;
    }

    .botones {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        padding-bottom: 0;
    }
}