.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 2.5rem;
}

.container h3 {
    width: 22.5rem;
    height: 2.5rem;
    font-family: var(--fontTitulos);
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--colorBlanco);
    padding: 1rem;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.5rem;
}

.videoBox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2.5rem;
    padding: 2rem 0;
    overflow-y: hidden;
    overflow-x: auto;
    scroll-behavior: smooth;
}

/* REDISEÑO DEL SCROLLBAR PARA ESTA SECCIÓN compatibilidad chrome/edge/ safari*/
.videoBox::-webkit-scrollbar {
    height: 1rem;
}

.videoBox::-webkit-scrollbar-track {
    background-color: var(--colorGrisMuyOscuro);
    border-radius: 20px;
    margin-left: 0.5rem;
}

.videoBox::-webkit-scrollbar-thumb {
    background-color: var(--colorGrisOscuro);
    border-radius: 20px;
    border: 4px solid var(--colorGrisMuyOscuro);
}

/* CELULAR / MOBILE */
@media (max-width: 575.98px) {
    .container {
        padding: 2.5rem 0.5rem;
    }

    .container h3 {
        width: 18.75rem;
    }
}