:root {
  --fontTitulos: "Bebas Neue", serif;
  --fontTexto: "Roboto", serif;
  --colorP: #257be5;
  --colorVerde: #83A603;
  --colorNaranja: #6805f2;
  --colorBlanco: #F5F5F6;
  --colorNegro: #111117;
  --colorGris: #9C9BA6;
  --colorGrisOscuro: #2E2D3E;
  --colorGrisMuyOscuro: #17161F;
  --colorPSombra: rgba(10, 61, 215, 0.8);
  --colorNaranjaSombra: rgba(55, 0, 94, 0.8);
  --colorVerdeSombra: rgba(131, 166, 3, 0.8);
  --colorNegroSombra: rgba(17, 17, 23, 0.8);
}

/* RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--fontTexto);
  font-size: 1rem;
  font-weight: 400;
  color: var(--colorBlanco);
  background-color: var(--colorNegro);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  width: 0.9rem;
}

body::-webkit-scrollbar-track {
  background: var(--colorGrisMuyOscuro);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--colorGrisOscuro);
  border-radius: 20px;
  border: 4px solid var(--colorGrisMuyOscuro);
}